body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 20px auto;
}

#vis {
}

#new_actions_span a {
    margin-left: 5px;
}

#vis canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#new_actions_span {
    float: right;
}
