<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Simple Vega</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>


<script type="text/javascript" src="/js/jquery.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/js/underscore.js" charset="utf-8"></script>
<script type="text/javascript" src="/js/jsv.js" charset="utf-8"></script>
<script type="text/javascript" src="/js/jsonform.js" charset="utf-8"></script>

<!--Vega Reqs-->
<script type="text/javascript" src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script type="text/javascript" src="//vega.github.io/vega/vega.js" charset="utf-8"></script>
<script type="text/javascript" src="//vega.github.io/vega-lite/vega-lite.js" charset="utf-8"></script>
<script type="text/javascript" src="//vega.github.io/vega-editor/vendor/vega-embed.js" charset="utf-8"></script>

<!--jQuery My Data Binding-->
<!--<script type="text/javascript" src="/js/sugar.min.js" charset="utf-8"></script>-->
<!--<script type="text/javascript" src="/js/jquerymy-1.2.8.min.js" charset="utf-8"></script>-->

{% block js_pre %}
{% endblock %}

<div class="container">
    {% block content %}
    {% endblock %}
</div>

{% block js_post %}
{% endblock %}
</body>
</html>
